@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
:root{
   --blanco: white;
   --negro: black;
   --tema-fondo: #C9E265;
   --verde-bon:#769412;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url(fondo2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color:var(--tema-fondo); */
}
#contenido{
    width: 80%;
    margin-top: 200px;
    position: absolute;
}
.tituloFecha{
    width: max-content;
    position: absolute;
    transform: translateY(-110px);
    background-color: rgb(188, 240, 143);
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}
.semana{
    width:max-content;
    height: 110px;
    display: flex;
    gap: 5px;
    padding: 20px 40px;
    padding-right: 10px;
    background-color: var(--blanco) ;
    border-radius:30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.semana li{
    list-style: none;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    border-radius: 30px;
    font-size: 1.5rem;
}
.semana li.actual{
    position: relative;
    background-color:var(--verde-bon);
    height: 100px;
    width: 100px;
    font-size: 1.5rem;
    color: black;
    border: 6px solid var(--tema-fondo);
    transform: translateY(-70px);
    
}
.semana li.actual::before{
    content: " ";
    position: absolute;
    left: -18px;
    width: 12px;
    height: 20px;
    top: 44px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    box-shadow: 2px -6px var(--tema-fondo);
}
.semana li.actual::after{
    content: " ";
    position: absolute;
    right: -18px;
    width: 12px;
    height: 20px;
    top: 44px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    box-shadow: -2px -6px var(--tema-fondo);
}
.spanRojito{
  border-radius: 30px;
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: rgb(255, 0, 8);
  border: 3px solid rgb(241, 141, 146);
  position: absolute;
  top: -10px;
  right: -10px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.semana li.actual h1{
    position: absolute;
    transform: translateY(76px);
    font-size: 30px;
}
.agregarEventos{
    display: flex;
    width: 65px;
    flex-direction: column;
    font-size: 12px;
    background-color: rgb(209, 209, 209);
    border-radius: 20px;
    padding: 2px 35px;
    text-align: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.agregarEventos img{
    width: 25px;
    height: 35px;
}
.eventos .titulo{
    margin-left: 250px;
    width: max-content;
    font-size: 24px;
    background-color: #C9E265;
    margin-top: 5px;
    border-bottom: 5px solid rgb(185, 120, 245);
}
.eventos ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.eventos .evento{
    height: 80px;
    width: 735px;
    border-radius: 20px;
    background-color: var(--blanco);
    padding-left: 10px;
    padding-top: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.semana li.actual2 {
    position: relative;
    background-color: yellow;
    height: 100px;
    width: 100px;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    border: 6px solid var(--tema-fondo);
    transform: translateY(-70px);
    transition: transform .4s;
  }

  .alerta {
    margin: 100px;
    position: fixed;
    padding: 2rem;
    background-color: #0fe42f94;
    color: rgb(253, 135, 0);
    font-weight: 600;
    font-size: 20px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: max-content
  }
  
  .alerta .cerrar {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }